absl-py==1.4.0
aiocontextvars==0.2.2
astor==0.8.1
backcall==0.2.0
bert-serving-client==1.10.0
bert-serving-server==1.10.0
bidict==0.21.4
cached-property==1.5.2
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
configparser
contextvars==2.4
dataclasses==0.8
decorator==5.1.1
Flask==2.0.3
Flask-SocketIO==5.2.0
gast==0.5.3
GPUtil==1.4.0
greenlet==1.1.2
grpcio==1.48.2
h5py==3.1.0
happybase==1.2.0
idna==3.3
immutables==0.19
importlib-metadata==4.8.3
ipdb==0.13.11
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
logrus==0.0.6
loguru==0.6.0
MarkupSafe==2.0.1
numpy==1.19.5
pandas==1.1.5
parso==0.7.1
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.36
protobuf==4.21.0
py4j==0.10.9.3
Pygments==2.14.0
PyMySQL==1.0.2
python-dateutil==2.8.2
python-engineio==4.3.2
python-socketio==5.6.0
pytz==2022.1
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0.post1
SQLAlchemy==1.4.37
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
threadpoolctl==3.1.0
thriftpy2==0.4.14
tomli==1.2.3
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.6
Werkzeug==2.0.3
win32-setctime==1.1.0
zipp==3.6.0
